# Configure git to use `ansible-vault view` for diff'ing these files with:
# git config --global diff.ansible-vault.textconv "ansible-vault view"
etc/kayobe/secrets.yml diff=ansible-vault merge=binary
etc/kayobe/kolla/passwords.yml diff=ansible-vault merge=binary
